div#feature-box {
  background-color: var(--secondary-color);
  padding-block: 3rem;
}

div#feature-box > ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-inline: 1rem;
}

div#feature-box > ul > li {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

div#feature-box > ul > li > svg.icon {
  font-size: 4rem;
}

div#feature-box > ul > li > section > h2 {
  font-weight: 600;
  font-size: 1.6rem;
}

div#feature-box > ul > li > section > p {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--gray);
}
