nav.navbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  padding-block: 1rem;
}

nav.navbar > header.app-logo {
  display: flex;
  align-items: center;
  justify-content: start;
}

nav.navbar > header.app-logo > img.app-logo-icon {
  width: 50px;
  height: 32px;
  object-fit: cover;
}

nav.navbar > ul:is(.nav-menu, .shopping-menu) {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
}

nav.navbar > ul.nav-menu {
  gap: 3rem;
}

nav.navbar > ul.shopping-menu {
  gap: 2rem;
}

nav.navbar > ul:is(.nav-menu, .shopping-menu) > li > a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

nav.navbar > ul:is(.nav-menu, .shopping-menu) > li > a:hover {
  color: gray;
}

nav.navbar > ul.shopping-menu > li > a > svg.icon {
  font-size: 1.5rem;
}
