* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins, Montserrat, 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #B88E2F;
  --secondary-color: #FFF3E3;
  --danger-color: #E97171;
  --info-color: #816DFA;
  --alert-color: #FFC700;
  --success-color: #2EC1AC;
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --dark-gray: #3A3A3A;
  --gray: #898989;
  --light-gray: #B0B0B0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
